

button {
    padding: 10px;
    width: 100px;
    border-style: none;
    background-color: #282c34;
    margin-bottom: 20px;
    margin-top: 5px;
    color: aliceblue;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer; 
}